[submodule "BoxBorder"]
	path = BoxBorder
	url = git@github.com:molvqingtai/BoxBorder.git
[submodule "TemporaryEditor"]
	path = TemporaryEditor
	url = git@github.com:molvqingtai/TemporaryEditor.git
[submodule "Bookmark"]
	path = Bookmark
	url = git@github.com:molvqingtai/Bookmark.git
